body 
{
    margin: 0px;
}

.left-collumn
{
    display: flex;
}

.left-collumn > div
{
    margin-right: 20px;
    font-size: 1.4em;
}

.logo-wrapper
{
    height: 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.logo-wrapper a
{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.logo-wrapper:hover
{
    border-bottom: 2px solid black;
}

.logo-wrapper a:hover
{
    color: black;
}


.nav-link-wrapper
{
    height: 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a 
{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover
{
    border-bottom: 2px solid black;
}

.nav-link-wrapper a:hover
{
    color: black;
}

.portfolio-img-background
{
    height: 913px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper
{
    position: absolute;
    top: 0;
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
}

